---
---

@import "{{ site.theme }}";

.markdown-body {
  font-size: 1.5em;
  line-height: 1.8em;
}
.markdown-body h2 {
  margin-top: 2em;
}
.markdown-body p {
  margin-bottom: 1.5em;
}
.markdown-body a {
  color: #6C8FAC;
  padding: 0 .1em;
}
.markdown-body a:hover {
  background-color: #7CA4C6;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}
