---
---

@import "{{ site.theme }}";

.markdown-body {
  font-size: 1.5em;
  line-height: 1.8em;
}
.markdown-body h2 {
  margin-top: 2em;
}
.markdown-body p {
  margin-bottom: 1.5em;
}
.markdown-body a {
  border-bottom: 5px solid #81D2DE;
  color: #000;
  padding:3px 2px 0 2px;
}
.markdown-body a:hover {
  background-color:#81D2DE;
  border-radius:3px;
  color:#fff;
  text-decoration:none
}
